@import "../../global";

.formContainer {
  margin-top: 100px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-self: center;

  .image {
    border-radius: 10px;
    height: 200px;
    align-self: center;
    margin: 10px 0;
  }

  .question {
    margin-top: 40px;
  }
}

@media #{$media-phone} {
  .btnGroup {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;

    label {
      margin: 1px;
      border-radius: 0 !important;
      margin-left: 0 !important;
    }
  }
}