@import "../global";

.resultsPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stressesContainer {
  margin-top: 50px;

  .stressContainer {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .image {
      border-radius: 10px;
      height: 200px;
      align-self: center;
      margin: 10px 0;
    }
  }
}