body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[role="group"] label.btn-primary.active, label.btn-primary.focus {
  background-color: #cb997e !important;
  border-color: #cb997e !important;
}

div[role="group"] label.btn-primary {
  width: 160px !important;
}

small {
  font-size: 90% !important;
}